<div id="start-menu">
    <div class="start-menu-header">
        <span>Start</span>
    </div>
    <div class="start-menu-body">
        <ul id="start-menu-apps">
            <!-- Aplikacje w menu Start -->
        </ul>
    </div>
</div>
