
<div id="notepad-container">
    <textarea id="notepad-textarea" placeholder="Wpisz coś..."></textarea>
    <button id="save-button">Zapisz</button>
</div>
<script type="text/javascript" src="/pulbic/notepas.js"></script>